@import "./reset.css";
@import url(https://db.onlinewebfonts.com/c/eaede26ebfc025d4b8715790660fbde9?family=Tele2+TextSans+Web+SHORT+Regular);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Tele2 TextSans Web SHORT Regular";
}

:root {
  --darkColor: #1f2229;
  --lightColor: #fff;
  --grayColor: #f3f5f6;
  --textColor: #7c8792;
  --lineColor: #ededed;
}

body {
  background-color: var(--grayColor);
}
